/*--------------------------------------
ブロックエディタダークモード
--------------------------------------*/
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    background: #333;
}

.edit-post-header {
    background: #333;
    color: #fff;
}

.interface-interface-skeleton__header {
    border: none;
}

.edit-post-header * {
    color: #fff;
}

.interface-interface-skeleton__content .editor-styles-wrapper {
    background: #222;
    color: #fff;
}

.components-panel {
    background: #333;
    color: #fff;
}

.edit-post-layout__metaboxes:not(:empty) {
    border-top: none;
}

/*エディタ右サイドバー*/
.components-panel__header.edit-post-sidebar__panel-tabs {
    background: #333;
}

.components-panel__header.edit-post-sidebar__panel-tabs button {
    color: #fff;
}

.interface-interface-skeleton__sidebar {
    border: none;
}

.cld-taxonomy-order {
    background: #333;
}

.edit-post-sidebar * {
    color: #fff !important;
    border-color: #333;
}

.edit-post-sidebar textarea,
.edit-post-sidebar input {
    background: #555;
    color: #fff;
}

.components-button {
    background: #555;
    color: #fff;
}

.components-button.is-tertiary {
    color: #02B1C3;
}

.block-editor-block-inspector__no-blocks,
.interface-complementary-area.edit-post-sidebar {
    background: #333;
}

.block-editor-block-styles__item-preview {
    background: #222;
}

.components-form-token-field__token-text,
.components-form-token-field__remove-token.has-icon {
    background: #555;
}

.components-input-control__container {
    background: #555 !important;
}

/*エディタアラート*/
.components-notice.is-warning{
    background: #555;
    color: #fff;
}
.components-notice.is-warning a{
    color: #fff;
}

.components-notice-list .components-notice__action.components-button {
    box-shadow: none;
    color: #fff;
}

/*エディタフッター*/
.edit-post-layout__footer {
    background: #333;
    color: #fff;
}

.edit-post-layout__footer li,
.edit-post-layout__footer li button {
    color: #fff !important;
}

/*ブロック追加部分*/
.components-placeholder.components-placeholder {
    background: #333;
    color: #fff;
}

.components-popover * {
    color: #fff;
    background: #555;
}

.components-dropdown__content .components-popover__content>div {
    background: #555;
}

.block-editor-inserter__tabs .components-tab-panel__tab-content {
    background: #555;
}

.components-button.block-editor-block-types-list__item,
.components-button.block-editor-block-types-list__item svg {
    color: #fff;
}

.block-editor-inserter__search-icon>svg {
    fill: #fff;
}

.block-editor-block-patterns-list__item {
    background: #333;
}

.block-editor-inserter__panel-title {
    color: #fff
}

.block-editor-inserter__tabs .components-tab-panel__tabs .components-tab-panel__tabs-item {
    color: #fff;
}

.block-editor-inserter__content {
    background: #555;
}

.block-editor-inserter__search input[type=search].block-editor-inserter__search-input {
    background: #333 !important;
    color: #fff;
}

.components-tab-panel__tab-content {
    color: #fff;
}
.block-editor-inserter__search {
    background: #555;
}

.block-editor-inserter__main-area {
    background: #555;
}

.block-editor-block-navigation-leaf .block-editor-block-navigation-block-contents {
    color: #fff;
}

/*THE SONIC SEOプラグイン*/
.edit-post-layout__metaboxes *{
    color: #fff !important;
}

.edit-post-layout__metaboxes {
    background: #333;
}

.edit-post-layout__metaboxes textarea,
.edit-post-layout__metaboxes input {
    background: #555;
    color: #fff;
}

.edit-post-layout__metaboxes textarea::placeholder {
    color: #aaa;
}

.edit-post-meta-boxes-area .postbox {
    background: #333;
    color: #fff;
}

.cld-tax-order-list-item {
    background: #555 !important;
}

.wp-core-ui select {
    background: #555;
    color: #fff;
}

#tsnc_pv_ranking_column {
    background: #555 !important;
}

.div.tsnc_hfs_text {
    color: #fff !important;
}

textarea#tsnc_memo_id {
    background: #555 !important;
}

/*SONIC*/
p[class^="is-style-para-icon"],
p.is-style-para-mark6 {
    color: #222 !important;
}

.ranking-item {
    background: rgba(0, 0, 0, .2);
}

.is-style-titlebox-mark2 .ob-contents {
    background: rgba(0, 0, 0, .2);
}

.sonic-box {
    background: rgba(0, 0, 0, .2);
}

.is-style-group-mark4,
.is-style-group-mark6,
.is-style-group-mark8 {
    background: rgba(0, 0, 0, .2);
}

.is-style-group-mark13 {
    color: #333;
}

.huki-text-block {
    color: #333;
}

.wp-block .link-card {
    background: rgba(0, 0, 0, .2);
}

.exlink-title,
.inlink-title {
    color: #fff !important;
}

/*一般ブロック*/
pre {
    background: rgba(0, 0, 0, .2);
    color: #fff !important;
}

.block-library-spacer__resize-container {
    background: #333;
    position: relative;
}

.block-library-spacer__resize-container:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "スペーサー";
    color: #ccc;
}

.block-library-spacer__resize-container.is-selected {
    background: #555;
}